.page {
  padding-top: 37px;
  min-height: 800px;
  position: relative;
  height: auto;
  margin-bottom: 60px;
  border: solid 1px #ccc;
  padding: 33px 85px;
}
.searchBox {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 33px;
  justify-content: center;
}
.searchBox .searchIcon {
  width: 29px;
  height: 30px;
  font-size: 30px;
  color: #6bd5ea;
}
.searchBox .inputBox {
  margin-left: 29px;
  display: inline-block;
  width: 893px;
  height: 33px !important;
  border-radius: 17px;
  border: solid 1px #aae7f3;
  padding: 0 40px;
}
.searchBox input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #868686;
  /* placeholder字体大小  */
  font-size: 12px;
}
.searchBox .searchButton {
  margin-left: 23px;
  width: 67px;
  padding: 0;
  height: 33px !important;
  color: #ffffff;
  background-image: linear-gradient(#6bd5ea, #6bd5ea), linear-gradient(#018ad8, #018ad8);
  background-blend-mode: normal, 
      normal;
  border-radius: 4px;
}
