.msg {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  text-align: center;
  z-index: 10000;
  .mobileNumber{
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .msgStatusIcon{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
  }
  .msgStatus{
    font-size: 21px;
  }
  .callIcon{
    font-size: 52px;
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg); /* IE 9 */
    -webkit-transform: rotate(-135deg); /* Safari and Chrome */;
    position: relative;
    top: 5px;
  }
}
