.page {
  display: flex;
  justify-content: center;
  padding-top: 116px;
  min-height: 720px;
  border: solid 1px #ccc;
  padding-bottom: 100px;
  margin-bottom: 55px;
}
.form {
  width: 600px;
  position: relative;
}
.picItem {
  display: flex;
  justify-content: space-between;
}
.divAddress {
  display: flex;
}
.btnOpenMap {
  margin-left: 10px;
  width: 85px;
}
