.main {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
}
.carousel {
  height: 650px;
}
.carousel :global(.ant-carousel) :global(.slick-slide) {
  height: 650px;
  text-align: center;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.page {
  position: relative;
  height: 650px;
}
.p1 {
  position: relative;
  height: 650px;
  background-image: url(../assets/index/p1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  overflow: hidden;
}
.banner {
  position: relative;
  height: 650px;
  border: none;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.btn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 74px;
  margin-bottom: 50px;
}
.list {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}
.item {
  width: 129px;
  height: 151px;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #ccc;
  position: relative;
  cursor: pointer;
}
.item1 {
  width: 129px;
  height: 151px;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #ccc;
  position: relative;
  cursor: pointer;
  background-image: url(../assets/index/S1.png);
}
.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover {
  box-shadow: 2px 4px 7px #ccc;
}
.item2 {
  width: 129px;
  height: 151px;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #ccc;
  position: relative;
  cursor: pointer;
  background-image: url(../assets/index/S2.png);
}
.item3 {
  width: 129px;
  height: 151px;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #ccc;
  position: relative;
  cursor: pointer;
  background-image: url(../assets/index/S3.png);
}
.item4 {
  width: 129px;
  height: 151px;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #ccc;
  position: relative;
  cursor: pointer;
  background-image: url(../assets/index/S4.png);
}
.item5 {
  width: 129px;
  height: 151px;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #ccc;
  position: relative;
  cursor: pointer;
  background-image: url(../assets/index/S5.png);
}
.btns {
  bottom: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
