.msg {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  width: 395px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;

  text-align: center;
  z-index: 10000;
}
